<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suyang.dao.AdminMapper">

	<resultMap id="baseMap" type="com.suyang.model.Admin">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="password" property="password" />
		<result column="level" property="level" />
	</resultMap>

	<select id="getAdminList" resultMap="baseMap">
		select * from tbl_admin
	</select>
	
	<select id="getAdminByName" resultMap="baseMap" parameterType="java.lang.String">
		select * from tbl_admin where name = #{name}
	</select>
	
	<select id="getOtherAdminByName" resultMap="baseMap" >
		select * from tbl_admin where name = #{name} and id!= #{id}
	</select>
	
	<insert id="addAdmin">
		INSERT INTO tbl_admin (id,name,password,email)values(#{id},#{name},#{password},#{email})
	</insert>
	
	<update id="updateAdmin" parameterType="com.suyang.model.Admin" >
		update tbl_admin
		<set >
			<if test="name != null" >
				name = #{name},
			</if>
			<if test="password != null" >
				password = #{password},
			</if>
			<if test="level != null" >
				level = #{level},
			</if>
		</set>
		where id = #{id}
	</update>
	
</mapper>