<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suyang.dao.ArticleMapper">

	<resultMap id="baseMap" type="com.suyang.model.Article">
		<result column="id" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="status" property="status" />
		<result column="auth_id" property="authId" />
		<result column="deleted" property="deleted" />
	</resultMap>

	<select id="getArticleList" resultMap="baseMap">
		SELECT * FROM tbl_article WHERE deleted = 0
	</select>
	
	<select id="getArticleById" resultMap="baseMap">
		SELECT * FROM tbl_article WHERE id = #{id} AND deleted = 0
	</select>

	<update id="logicDelete" >
		update tbl_article
		set deleted = 1
		where id = #{artId}
	</update>
</mapper>